#form-cadastro{
    width: 50%;
    background-color: teal;
    margin: auto;

    padding: 20px;
    border-radius: 20px;
}
.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.linha label{
    flex: 1;
    max-width: 120px;
    font-family: Arial, Helvetica, sans-serif;
}
.linha input, .linha select{
    flex: 1;
    border: 1px solid darkslategray;
    border-radius: 10px;
    padding: 5px;
}
input[type="submit"]{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    background-color: darkslategray;
    color: antiquewhite;
    border: 1px solid #dadddd;
}